.chat{
    display: flex;
    flex-direction: column;
    flex: 0.65;
}
.chat__header{
   display: flex; 
   align-items: center;
   padding: 20px;
   border-bottom: 1px solid lightgray;
}
.chat__headerInfo{
padding-left: 20px;
flex: 1;
}
.chat__headerInfo > h3{
font-weight: 500;
margin-bottom: 3px;

}
.chat__headerInfo > p{
color:gray;
}
.chat__body{
    flex:1;
    background-image: url("http://i.imgur.com/TnNwdvV.png");
    background-repeat: repeat;
    background-position: center;
    padding: 30px;
    opacity:0.6;
    overflow: scroll;
}
.chat__message{
    position: relative;
    font-size: 16px;
    padding: 10px;
    width: fit-content;
    background-color: #ffffff;
    border-radius: 10px;
    margin-bottom: 30px;

}
.chat__reciever{
    margin-left: auto;
    background-color: #dcf8c6;
}
.chat__timestamp{
    font-size: xx-small;
    margin-left: 10px;
}
.chat__name{
    position: absolute;
    font-size: xx-small;
    font-weight: 800;
    top:-15px;
}
.chat__footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 62px;
    border-top:1px solid lightgray;
}
.chat__footer > form{
    display: flex;
    flex:1;
    
}
.chat__footer > form > input{
    flex:1;
    border-radius: 30px;
    padding:10px;
    border:none;
    outline-width: 0;
    
}
.chat__footer > form > button{
    display: none;
    
}
.chat__footer > .MuiSvgIcon-root{
    padding: 10px;
    color:gray;
    
}